<section class="flex flex-col justify-center items-center h-screen">
    <img loading="lazy" class="w-1/2 h-auto lg:w-1/5 md:w-1/3" src="https://ik.imagekit.io/iqgqcaprmq/Ruminate_Logo_png-04_PT20p_SRR5.png" alt="Logo" data-aos="fade-up" data-aos-duration="1500">
    <h2 class="text-center text-white text-4xl" data-aos="fade-up" data-aos-duration="2000">THE ENTREPRENEURSHIP CELL</h2>
    <h2 class="text-center text-white text-2xl my-4" data-aos="fade-up" data-aos-duration="2000">Indian Institute of Information Technology, Surat</h2>
</section>
<!-- About us-->
<section id="about" class="bg-white p-10">
    <div>
        <h1 class="mb-4 text-4xl text-center font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl" data-aos="fade-up" data-aos-duration="1500">A  Little  About  Us</h1>
        <hr data-aos="fade-up" data-aos-duration="1500">
        <p class="my-3 text-lg text-center text-gray-500 md:text-xl" data-aos="fade-up" data-aos-duration="1500">A The secret of getting ahead is getting started.</p>
        <!-- vision -->
        <h3 id="vision" class="mb-4 text-2xl text-center font-extrabold leading-none tracking-tight text-gray-900" data-aos="fade-up" data-aos-duration="1500">Vision</h3>
        <p class="mb-3 text-lg text-center text-gray-500 md:text-xl" data-aos="fade-up" data-aos-duration="1500">Entrepreneurship is the fuel that boosts the rocket of ideas and lands them on the practical
            world. It will not only contribute to the development of India but also help raise the
            quality of life in the country.
            With this belief The Entrepreneurship Cell, IIIT Surat aims to inculcate and nurture the raw
            ideas and skills of the students, willing to convert their ideas into product and to emerge
            as a leading entrepreneur which will benefit the nation as a whole and leads to India's
            global development.</p>
        <br>
        <!-- mission -->
        <h3 class="mb-4 text-2xl text-center font-extrabold leading-none tracking-tight text-gray-900" data-aos="fade-up" data-aos-duration="1500">Mission</h3>
        <p class="mb-3 text-lg text-center text-gray-500 md:text-xl" data-aos="fade-up" data-aos-duration="1500">Our mission is to unlock the latent innovative and inventive potential of the students by
            creating a pathway of various opportunities like orientation, interactive sessions with
            professionals, product development guidance, industrial and field contacts and the
            competitions to increase entrepreneurial skills. This will not only foster entrepreneurial
            thinking but also instill confidence in every student to convert their creativity into
            product to make people life easier and help grow India faster.</p>
    </div>
</section>
<section id="stats" class="py-16 bg-black">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-12" >
            <div class="text-center" data-aos="fade-up" data-aos-duration="1000">
                <h1 class="text-4xl font-bold text-white"><span class="counter">700</span>+</h1>
                <h3 class="text-lg text-gray-400">NEC Finalist among teams</h3>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="1000">
                <h1 class="text-4xl font-bold text-white"><span class="counter">3</span>+</h1>
                <h3 class="text-lg text-gray-400">Startups</h3>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="1000">
                <h1 class="text-4xl font-bold text-white"><span class="counter">20</span>+</h1>
                <h3 class="text-lg text-gray-400">Dedicated Team</h3>
            </div>
            <div class="text-center" data-aos="fade-up" data-aos-duration="1000">
                <h1 class="text-4xl font-bold text-white"><span class="counter">10</span>+</h1>
                <h3 class="text-lg text-gray-400">Companies in Contact</h3>
            </div>
        </div>
    </div>
</section>
