<nav>
    <div class="logo">
      <img loading="lazy" class="lozad" src="https://ik.imagekit.io/iqgqcaprmq/Ruminate_Logo_trans-03__uxjL3p8GB.png" style="width: 200px; height: 50px;">
    </div>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#about">About Us</a>
      </li>
      <li>
        <a href="#">Event</a>
      </li>
      <li>
        <a href="#">Team</a>
      </li>
    </ul>
    <div class="hamburger">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </nav>
  <div class="menubar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="#about">About Us</a>
      </li>
      <li>
        <a href="#">Event</a>
      </li>
      <li>
        <a href="#">Contact Us</a>
      </li>
    </ul>
  </div>
  