<div class="w-fit  mx-auto grid grid-cols-1 lg:grid-cols-3 md:grid-cols-1 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">
    {% for event in pastEvents %}
    <div data-aos="fade-up" data-aos-duration="1500" class="w-72 bg-white shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl {% if forloop.counter >= 4 %} hidden-cards{% endif %}"  style="{% if forloop.counter >= 4 %} display:none {% endif %};" >
        <a href="#">
            <img loading="lazy" src="{{ event.image.url }}" class="h-80 w-72 object-cover rounded-t-xl" />
            <div class="px-4 py-3 w-72">
                <span class="text-gray-400 mr-3 uppercase text-xs"><i>{{event.end_date}}</i></span>
                <p class="text-lg font-bold text-black truncate block capitalize">{{event.title}}</p>
                <div class="flex items-center">
                    <p class="text-sm text-gray-600 cursor-auto ml-2">{{event.Desc}}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>